@model IEnumerable<CoiffeurBuddy.Models.Consulta.AtendimentoConsulta>

@{
	ViewData["Title"] = "FiltrarPorData";
}


<h1>Filtrar Por Data</h1>

<p>
	<a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Servico)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Cliente)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Funcionario)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataHora)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Servico)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Cliente)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Funcionario)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DataHora)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
				</td>
			</tr>
		}
	</tbody>
</table>
